<h1> <%=@guest.name%> </h1>

<h2> Rooms </h2>
<ul>
    <% @guest.rooms.each do |room| %>
        <li>
            Suite: <%= room.suite %>
            <br>
            Rate: <%= room.rate %>
            <br>
            Hotel: <%= room.hotel.name %>
        </li>
        <br>
    <% end %>
</ul>

<div id="add_room">
    <%= form_with url:"/guests/#{@guest.id}", method: :patch do |form| %>
        <%= form.label :room_id, "Room ID" %>
        <%= form.number_field :room_id %>
        <%= form.submit "Submit" %>
    <% end %>
</div>

