<h1> <%= @guest.name => </h1>
<% @guest.rooms.each do |room| %>
  <h3><%= room.name %></h3>
  <p> <% room.name.each do |room| %> </p>
      <p> Suite Level:<%= room.suite %> </p>
      <p> Nightly Rate:<%= room.rate %> </p>
      <p> Hotel:<%= room.hotel.name %> </p>
  <% end %>
<% end %>
