<h1>Guest Info Page</h1>

<p>Guest Name: <%= @guest.name %></p>

<ul>
  <% @guest.rooms.each do |room| %>
  <p>Suite: <%= room.suite %></p>
  <p>Cost: $<%= room.rate %></p>
  <p>Hotel Name: <%= room.hotel.name %></p>
  <% end %>
</ul>

<%= form_with url: "/guest_rooms?guest_id=#{@guest.id}", method: :post, local:true do |form| %>
  <%= form.text_field :room_id %>
  <%= form.submit "Add Room" %>
<% end %>