<h1>Guest Name: <%= @guest.name %></h1>
<% @guest.rooms.each do |room| %>
  <h3>Room Number: </h3><%= room.id %>
  <h3>Room Rate: </h3><%= room.rate %>
  <h3>Room Suite: </h3><%= room.suite %>
  <h3>Hotel Name: </h3><%=  room.hotel.name %>
  <% end %>
