<h1><%= @guest.name %></h1>

<h2>Rooms:</h2>
<ul>
  <% @guest.rooms.each do |room| %>
	<li>
		Suite: <%= room.suite %><br>
		Nightly Rate: <%= room.rate %><br>
		Hotel: <%= room.hotel.name %>
	</li>
<% end %>
</ul>

<h2>Add Room:</h2>
<%= form_with url: "/guests/#{@guest.id}/add_room", method: :post do %>
	<div>
		<%= label_tag :room_id, "Room ID" %>
		<%= text_field_tag :room_id %>
	</div>
	<div>
		<%= submit_tag "Add Room" %>
	</div>
<% end %>